<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>957933540650-argnmek90edh2kqgvg26d50u569gn135.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.957933540650-argnmek90edh2kqgvg26d50u569gn135</string>
	<key>API_KEY</key>
	<string>AIzaSyCEotw-qikF6TetayXCA-_mqQLjr1k4kD0</string>
	<key>GCM_SENDER_ID</key>
	<string>957933540650</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mroa.MyAnalytics</string>
	<key>PROJECT_ID</key>
	<string>myanalytics-59cb3</string>
	<key>STORAGE_BUCKET</key>
	<string>myanalytics-59cb3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:957933540650:ios:30ca7df203cb0471</string>
	<key>DATABASE_URL</key>
	<string>https://myanalytics-59cb3.firebaseio.com</string>
</dict>
</plist>